<div class="schedule__wrapper">
  <h2 class="section-title">Schedule</h2>
  <div class="schedule-content">

    <% data.schedule.each do |day| %>
    <%
      min = day.events.collect {|v| v.start }.min
      max = day.events.collect {|v| v.end}.max
      block = day.block * 60
      range = (min.to_i...max.to_i).step(block)
    %>
    <ul class="schedule-list" style="grid-template-rows: auto <%=
      range.reduce("") do |memo, obj|
        tags = day.events
            .select {|event| (event.start.to_i...event.end.to_i).cover? obj }
            .collect {|event| event.tags }
            .flatten
            .uniq
        "#{memo} #{tags.include?("talk") ? "1fr" : tags.include?("break") ? "0.5fr" : "auto"}"
      end
    %>">
      <h3><%= day.date.strftime("%A %-d %B") %></h3>

      <% day.events.each do |event| %>
      <li
        class="event <%= event.tags&.join(" ") %>"
        style="<%= "grid-row-start: #{((event.start - min) / block + 2).to_i}; grid-row-end: span #{((event.end - event.start) / block).to_i}" %>"
      >
        <h6><%= event.start.strftime("%-l:%M%P") %></h6>
        <h4><%= event.title %></h4>
        <% if event.speaker? %>
        <h5><%= event.speaker %></h5>
        <% end %>
      </li>
      <% end %>

    </ul>
    <% end %>

  </div>
</div>
