<div class="speaker__wrapper" id="speakers">
  <h2 class="section-title">Speakers</h2>
  <ul class="speaker-list">

    <% data.speakers.speakers.each do |speaker| %>
      <li class="speaker">
        <img src="<%= speaker.image %>" />
        <div class="speaker-content">
          <h3><%= speaker.name %></h3>
          <h4><%= speaker.talk %></h4>
          <a href="<%= speaker.twitter %>" target="_blank">
            <%= partial "images/twitter" %>
          </a>
        </div>
      </li>
    <% end %>

  </ul>
</div>
