---
title: Madison+ Ruby:CHICAGO
---

<div class="main__wrapper">

  <div class="left-bar">
    <div class="left-bar-items">
      <img src="/images/logo.svg" />
      <h2>May 10th-11th</h2>
    </div>
  </div>

  <div class="scroll-content">
    <div class="hero-content">
      <div class="welcome">
        <img class="were-back" src="/images/were-back.svg" />
        <%= link_to(
          "Register Now",
          "https://ti.to/adorable/madison-ruby-chicago",
          target: "_blank",
          class: "register"
        ) %>
      </div>
      <img class="arrow" src="/images/arrow.svg" />
    </div>

    <%= partial "partials/why" %>
    <%= partial "partials/speakers" %>

    <footer id="footer">
      <%= link_to(
        'Code of Conduct',
        '/code_of_conduct.html'
      ) %>
      <%= link_to(
        'Sponsor Prospectus',
        '/prospectus.html'
      ) %>
    </footer>
  </div>

</div>
