---
title: Madison+ Ruby:CHICAGO
---

<div class="main__wrapper">

  <div class="left-bar">
    <img src="/images/logo.svg" />
    <h2>May 10th-11th</h2>
  </div>

  <div class="scroll-content">
    <div class="hero-content">
      <div class="welcome">
        <img class="were-back" src="/images/were-back.svg" />
        <%= link_to(
          "Register Now",
          "https://ti.to/adorable/madison-ruby-chicago",
          target: "_blank",
          class: "register"
        ) %>
      </div>
      <img class="arrow" src="/images/arrow.svg" />
    </div>

    <%= partial "partials/why" %>
    <!-- <%= partial "partials/speakers" %>
    <%= partial "partials/schedule" %> -->
    <%= partial "partials/sponsor" %>
    <%= partial "partials/accommodations" %>
    <%= partial "partials/videos" %>

    <footer id="footer">
      <div class="social">
        <a href="http://www.twitter.com/adorableio">
          <%= partial "images/twitter" %>
        </a>
        <a href="http://www.facebook.com/adorableio">
          <%= partial "images/facebook" %>
        </a>
        <a href="http://www.youtube.com/adorableio">
          <%= partial "images/youtube" %>
        </a>
        <a href="http://www.instagram.com/adorableio">
          <%= partial "images/instagram" %>
        </a>
      </div>
      <div class="links">
        <%= link_to(
          'Code of Conduct',
          '/code_of_conduct.html'
        ) %>
        <%= link_to(
          'Sponsor Prospectus',
          '/prospectus.html'
        ) %>
      </div>
      <div class="copy">
        <p>Madison+ Ruby: Chicago &copy; 2018</p>
      </div>
    </footer>
  </div>

</div>
